#profile {
    width: 100%;
    height: 140px;
    /*border: 1px solid red;*/
    margin-bottom: 30px;
}

#profile .image-wrapper {
    float: left;
    width: 35%;
    height: 100%;
    /*border: 1px solid blue;*/
}

/*#profile .image {*/
/*width: 100%;*/
/*height: 100%;*/
/*object-fit: contain;*/
/*}*/

#profile .desc-wrapper {
    float: left;
    width: 65%;
    height: 100%;
    /*border: 1px solid yellow;*/
}

#profile .name {
    font-size: 36px;
    padding-left: 8px;
}

#profile .contain {
    font-size: 0.5em;
    color: #888888;
}

#profile .introduce {
    font-size: 1em;
    padding-top: 10px;
    padding-left: 12px;
}

#divider {
    text-align: center;
}

#divider .profile {
    display: table;
    margin: 0 auto;
    width: 400px;
    height: 2px;
    border-bottom: 1px solid #ddd;
}

#career {
    width: 100%;
    /*border: 1px solid red;*/
    margin-top: 20px;
    margin-bottom: 30px;
}

.title {
    color: #555;
    line-height: 30px;
    border-left: 5px solid #555;
    margin-left: 40px;
    padding-left: 10px;
    font-size: 30px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid {
    padding: 20px;
    overflow: inherit;
}

.grid-item {
    /*border: 1px solid #dfdfdf;*/
    border-radius: 5px;
    padding: 5px;
}


.image-wrapper {
    padding: 8px 8px 8px 8px;
    margin-bottom: -20px;
    width: 200px;
}
.small {
    width: 150px;
}

.grid-term {
    text-align: center;
    color: #aaa;
    font-size: 0.7em;
}

.grid-title {
    text-align: center;
    color: #272727;
}

/*화면크기 768 이하일때*/
@media ( max-width: 767px ) {
    #profile {
        height: 120px;
        margin-bottom: 20px;
    }

    #profile .name {
        font-size: 20px;
    }

    #profile .introduce {
        font-size: 0.8em;
    }

    #divider .profile {
        width: 150px;
    }

    .grid {
        padding: 8px;
    }

    .grid-title {
        font-size: 0.8em;
    }

    .grid-term {
        font-size: 0.6em;
    }

    .title {
        margin-left: 20px;
        line-height: 20px;
        font-size: 20px;
    }

    .small {
        width: 80px;
    }

    .image-wrapper {
        width: 150px;
    }
}

/*화면크기 425 이하일때*/
@media ( max-width: 424px ) {
    .image-wrapper {
        width: 150px;
    }

    .grid-title {
        font-size: 0.6em;
    }

    .grid-term {
        font-size: 0.4em;
    }
}